.header__nav--back {
    position: absolute;
    top: 40px;
    left: 30px;
    filter: invert(1);
}
.other {
    margin-top: 50px;
    padding: 0 30px;
}

.other h1 {
    font-size: var(--heading-1);
    font-weight: 600;
    color: var(--black);
}
.other p {
    font-size: var(--paragraph);
    font-weight: 300;
    color: var(--black);
}
.other a {
    color: var(--black);
}
.other__form--section {
    display: grid;
    gap: 25px;
}
.other__form--section div {
    display: flex;
    flex-direction: column;
}

.other__form--section label {
    position: absolute;
    white-space: nowrap;
    font-size: 11px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.35);
    margin-bottom: 10px;
    background: #ffffff;
    margin: 0;
    padding: 0 5px;
    left: 20px;
    top: -5px;
}
.other__form--first-name, .other__form--last-name, .other__form--mail, .other__form--message {
    position: relative;
}
.other__form--section input {
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.40);
    transition: 0.3s;
    outline: none;
    padding: 0 20px;
    max-width: 100%;
}
.other__form--section textarea {
    height: 150px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.40);
    transition: 0.3s;
    outline: none;
    padding: 20px;
}
.other__form--section input:focus, textarea:focus {
    border: 1px solid rgba(0, 0, 0, 1);
    font-size: 13px;
}

.other__form--btn {
    display: block;
    width: 220px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
    background: #000000;
    margin: 40px auto 30px auto;
}
.project {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.project__content h1,a {
    display: block;
    text-align: center;
}
.project__content h1 {
    font-size: var(--heading-2);
    font-weight: 800;
}
.project__content a {
    font-size: var(--paragraph);
    font-style: italic;
}